@using FCInformesSolucion.Constants
@{
    var menuUrl = ViewBag.MenuUrl;    
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Formularios</title>
    <script>
        var baseUrl = "@Url.Content("~")";
        if (baseUrl.endsWith('/')) {
            baseUrl = baseUrl.substr(0, baseUrl.length - 1);
        }
        var cultureParams = {
            separadorMiles: "@ApplicationContext.NumberGroupSeparator",
            separadorDecimal: "@ApplicationContext.NumberDecimalSeparator",
            numeroDecimales: 2,
            formatoFecha: "@ApplicationContext.DateFormat",
            formatoFechaLarga: "@ApplicationContext.DateTimeFormat",
            prefijo: "@ApplicationContext.CurrencySymbol"
        };
    </script>
    <script src="@Url.Content("~/Scripts/culture.js")"></script>
    @Styles.Render("~/Content/css")
    <link href="~/Scripts/nprogress/nprogress.css" rel="stylesheet" />
    @Styles.Render("~/fonts/fonts")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqGrid")
    @Scripts.Render("~/bundles/util")
</head>
<body class="nav-md">

    <div class="container body">
        <div id="loading-panel" style="display: none;">Cargando...</div>
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/" class="site_title"><i class="fa fa-th-large"></i> <span>MENATICS</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <input type="hidden" id="MenuUrl" value="@menuUrl" />
                    @Html.Partial("_MenuPartial")
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </div>
            <div class="right_col" role="main">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>    
    <script src="~/Scripts/nprogress/nprogress.js"></script>
    @Scripts.Render("~/build/js/custom")
    <script type="text/javascript">

        $(function () {
            $(document).on("click", ".maintenance-edit", function () {
                var id = $(this).data("id");
                var action = $(this).data("action");
                window.location = action + "/" + id;
            });

            $(document).on("click", ".maintenance-delete", function () {

                var id = $(this).data("id");
                var grid = $(this).data("grid");
                var action = $(this).data("action");
                var url = action + "/" + id;

                confirm("Seguro que desea eliminar el registro?", function () {
                    $.ajax({
                        type: "get",
                        url: url,
                        success: function (res) {
                            if (res && res.success) {
                                toastr["success"]("Registro eliminado");
                                console.log(grid);
                                reloadGrid(grid, 1);
                            } else {
                                toastr["error"]("No se pudo eliminar el registro");
                            }
                        },
                        error: function (err) {
                            error(err);
                        },
                        dataType: 'json'
                    });
                })
            });

            $(".advance-search").click(function () {
                var state = $(this).data("state");
                if (state === "close") {
                    mostrarBusquedaAvanzada();
                } else {
                    ocultarBusquedaAvanzada();
                }
            });

            $("#filter-search").click(function () {
                setTimeout(() => {
                    ocultarBusquedaAvanzada();
                }, 500);
            });
        });

        var mostrarBusquedaAvanzada = function () {
            var $busquedaAvanzada = $(".advance-search");
            $busquedaAvanzada.find("span").removeClass("fa fa-chevron-down");
            $busquedaAvanzada.find("span").addClass("fa fa-chevron-up");
            $(".top_search_filters").removeClass("hide");
            $busquedaAvanzada.data("state", "open");
            $(".top_search").hide();
        }

        var ocultarBusquedaAvanzada = function () {
            var $busquedaAvanzada = $(".advance-search");
            $busquedaAvanzada.find("span").removeClass("fa fa-chevron-up");
            $busquedaAvanzada.find("span").addClass("fa fa-chevron-down");
            $(".top_search_filters").addClass("hide");
            $busquedaAvanzada.data("state", "close");;
            $(".top_search").show();
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
