@if (Request.IsAuthenticated)
{
    <form action="@Url.Content("~/Account/LogOff")" id="logoutForm" class ="navbar-right" method="POST" >
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="" alt="">@User.Identity.Name
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="#">@User.Identity.Name</a></li>                    
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
                </ul>
            </li>
        </ul>
    </form>   
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new {  id = "loginLink" })</li>
    </ul>
}
